body {
  margin: 0%;
  padding: 0%;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/725/44/32/slam-dunk-shohoku-high-anime-sakuragi-hanamichi-wallpaper-thumb.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bar {
  display: flex;
  justify-content: space-between;
  background-color: #000000cc;
  padding: 2rem;
  margin-bottom: 0.5rem;
  color: antiquewhite;
}
.search {
  border-radius: 0.7rem;
  width: 35rem;
  border-style: double;
}

h2{
  color: antiquewhite;
}

.list {
  color: antiquewhite;
}

.btn {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

button {
  background-color: #d00707;
  color: antiquewhite;
  border-radius: 2rem;
  gap: 4rem;
}